 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*Спецификация*/
body 
{
    font-family: 'Times New Roman', sans-serif;
    color: #b2c7c6;
    font-size: 15px; 
}

ul, li
{
 display:block;
 padding:0;
 margin:0;   
 }
 li a
 {
 color: #83a7a5; 
 }
 h2, h3, h5
 {
  color: #316e6b;    
     }
.header
{
 padding-top: 35px;    
 font-family: 'Montserrat', sans-serif;      
 padding-left:30px;      
 }
  #formid
  {
    padding-left: 150px;
    height:80%;    
      }
 .logo
{
 text-transform: uppercase;         
 font-family: 'Proxima Nova', sans-serif;   
 color: #316e6b;
 font-weight:800;
 font-size:24px;
 }
 .phone
 {
    padding-left:15px;
    padding-top: 5px; 
    color: #97b4b3;
     }
  .fa-phone
 {
     color: #83a7a5;
     }
 
 .menu
 {
  padding-top: 5px;       
  }
 .menu__item
 {
  font-weight:600;   
  margin-right:20px;   
 }
 
 .menu__item a
 {
 text-transform: uppercase;    
 }
 .menu__item .btn-success
 {
 font-size:14px;       
 height:30px;    
 padding-top: 3px;    
 width:140px;
 }
  
  #map
  {
   padding-top:15px;
   height:360px;
      }
 .polosa
 {
  padding-right:15px; 
  font-weight:200;
     }
  .b
 { 
  font-weight:200;
  font-size:10px; 
  line-height:0px;   
     }    
   .calltoaction .download
 { 
  width:80;  
  font-weight:200;
  padding-top:10px; 
  font-size:14px;
 }          
 .getin
{
 padding-top: 80px;   
 color: #83a7a5;
 text-align:center;
 font-family: 'Roboto', sans-serif;      
 font-size:15px; 
 
 }
 .get
 {
  
  font-size:25px; 
  color: #0f5f5c;
  font-weight:400;  
     }
 .contact
 {  
    padding-top: 75px; 

     }
 .headquarter
 {
 border: 2px solid #b2c7c6;    
 font-family: 'Roboto', sans-serif;  
 padding: 40px 100px 45px 35px;     
 border-style:dashed;
 text-align:left; 
     }
 .headq
   {
    text-align:center;  
       }    
     
.headquarter .fa
{
  color: #6fb048;  
    }
 .fa-paper-plane
{
  color: #6fb048;  
    }   
 .color
 {
  color: #316e6b; 
    }
 
 .calltoaction 
 {
    padding-top: 100px;
     }
     
 .calltoaction .img
 {
     background-image:url("images/fon.png");
 }
 .btn
 {
     text-transform: uppercase; 
     }
  .like
  {
 padding-top: 20px;     
 font-family: 'Roboto', sans-serif;      
 color: #316e6b;  
 
      }
  .image {
	width: 100%; /* for IE 6 */  
    -ms-filter: hue-rotate(1000deg);
    -webkit-filter: hue-rotate(2000deg);
    -moz-filter: hue-rotate(1000deg);
    -o-filter: hue-rotate(1000deg);
} 
   .doyou
  {
    color: #83a7a5;  
     
      } 
  .headquarter .fa
  {
    color: #6fb048;   
      } 
   .headq
   {
    font-size: 20px;   
       }
      
  #formid
  {
    padding-right: 50px;    
      }
      
  .center-content .btn-success
 {
  width:150px;
  height:40px;
  font-size: 15px;
     }    
  .footer
  {
    padding-top: 100px;    
      } 
   .ymaps-layers-pane {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    
}
.footer_top
{
    padding-right: 55px; 
    
    }
.footer_bottom
  {
     
    padding-top: 90px; 
    padding-right: 75px;   
      } 
      
.social a {
    text-align: center;
    width: 36px;
    height: 36px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 46px;
    margin: 0 8px 8px 0;
    padding: 6px;
    color: #000;
}
.twitter a {background: #00acee; color: #fff;}
.instagram a {background: #3f729b; color: #fff;}
.facebook a {background: #3b5998; color: #fff;}
.dribbble a {background: #ea4c89; color: #fff;}
.github a {background: #000; color: #fff;}



@media screen and (max-width: 1200px)
{
 body 
{
    font-size: 13px; 
}   
    .header
{
 padding-top: 18px;    
 font-weight:700; 
 font-size: 13px;   
 }
 
 .menu__item .btn-success
 {
  padding-top: 1px;    
  width:110px;
  height:20px;
  font-size: 11px; 
     }
 .logo
{
 font-size:19px;
 
 }
 #map
  {
   height: 290px;
   padding-top:15px;
      }

.getin
{
 padding-top:60px;    
 
 }
 .get
 { 
  font-size:19px; 
     }
 .contact
 { 
    padding-top: 75px; 
  }   
 
   #formid
  {
    padding-left: 100px;
    height:30%;    
      }
  .center-content .btn-success
 {
  width:120px;
  height:30px;
  font-size: 12px;
     }
   .form-control
   {
    font-size: 13px;   
       }
   .calltoaction .download
 { 
  width:80;  
  font-weight:200;
  padding-top:10px; 
  font-size:12px;
 }    
     
   .headquarter
 {      
 padding-top: 20px; 
 padding-bottom: 25px; 
 padding-right: 50px; 
 padding-left: 15px;
     }   
   .like
  { 
 font-size: 15px;   
  }
   .doyou
  { 
   
  }
  .footer
  {
    padding-top: 100px;  
  
  }
  .headq
   {
    font-size: 14px;   
       }
  }
  
  @media screen and (max-width: 980px)
{
  body 
{
    font-size: 11px; 
}  
h5{font-size: 13px; } 
    .header
{
 padding-top: 18px;    
 font-size: 11px;
    
 }
 .menu__item
 {
  margin-right:15px; 
 }
 .menu__item .btn-success
 {
  padding-top: 1px;    
  width:100px;
  height:20px;
  font-size: 10px; 
     }
 .logo
{
 font-size:16px;
 }
 .phone
 {
    padding-left:10px;
    padding-top: 5px; 
     }
 
 #map
  {
   height: 290px;
   padding-top:15px;
      }

.getin
{
 padding-top:60px;    
 
 }
 .get
 { 
  font-size:19px; 
     }
 .contact
 { 
    padding-top: 75px; 
  }   
 
   #formid
  {
    padding-left: 100px;
    height:30%;    
      }
  .center-content .btn-success
 {
  width:120px;
  height:30px;
  font-size: 10px;
     }
   .form-control
   {
    font-size: 11px;   
       }
   .calltoaction .download
 { 
  width:80;  
  padding-top:10px; 
  font-size:10px;
 }    
    
   .like
  { 
 font-size: 12px;   
  }
  .doyou{} 
  .footer
  {
    padding-top: 100px;
    font-size:11px; 
  }
  .headq
   {
    font-size: 12px;   
       }
    .footer_top
{
    padding-right: 55px; 
    
    }
.footer_bottom
  {
     
    padding-top: 90px; 
    padding-right: 75px;   
      }    
       
    }
    
   @media screen and (max-width: 750px)
{
 
  body 
{
    font-size: 12px; 
    padding:0px 0px 0px 0px;
    margin:0; 
}  
h5{font-size: 12px; } 
    
.header
{
 padding-top: 18px;    
 font-size: 12px;
 padding-left:0px; 
 text-align:center;   
 }
 .menu__item
 {
  margin-right:10px; 
 }
 .menu__item .btn-success
 {
  padding-top: 1px;    
  width:95px;
  height:35px;
  font-size: 12px; 
     }
 .logo
{
 font-size:14px;
 padding:0 0 0 0;
 }
 .phone
 {
    padding-left:3px;
    padding-top: 5px; 
    font-size: 10px; 
     }
 .polosa
 {
  padding-right:15px; 
  font-weight:200;
  font-size: 1px;
  }
 #map
  {
   height: 290px;
   padding-top:15px;
      }

.getin
{
 padding-top:60px;    
 
 }
 .get
 { 
  font-size:19px; 
     }
 .contact
 { 
    padding-top: 75px; 
  }   
 
   #formid
  {
    padding-left: 50px;
    height:30%;    
      }
   .headquarter
   {padding: 20px 40px 15px 25px;
    padding:
    }    
      
  .center-content .btn-success
 {
  width:120px;
  height:30px;
  font-size: 10px;
     }
   .form-control
   {
    font-size: 11px;   
       }
   .calltoaction .download
 { 
  width:80;  
  padding-top:10px; 
  font-size:10px;
 }    
    
   .like
  { 
 font-size: 12px;   
  }
  .doyou{} 
  .footer
  {
    padding-top: 100px;
    font-size:12px; 
  }
  .headq
   {
    font-size: 12px;   
       }
    .footer_top
{
   padding-left:10px;
    font-size:12px;
    }
. container .footer_bottom
  {
     
    padding-top: 90px; 
    padding-left: 15px;   
      }    
   .social a {
    width: 26px;
    height: 26px;
    margin: 0 4px 4px 0;
    padding: 4px;
    
}    

.twitter a {background: #00acee; color: #fff;}
.instagram a {background: #3f729b; color: #fff;}
.facebook a {background: #3b5998; color: #fff;}
.dribbble a {background: #ea4c89; color: #fff;}
.github a {background: #000; color: #fff;}    
    } 
    
   @media screen and (max-width: 570px)
{
  body 
{
    font-size: 10px; 
    padding:0px 0px 0px 0px;
    margin:0; 
}  
h5{font-size: 12px; } 
    
.header
{
 padding-top: 18px;    
 font-size: 10px;
 padding-left:0px; 
 text-align:center;   
 }
 .menu__item
 {
  margin-right:10px; 
 }
 .menu__item .btn-success
 {
  padding-top: 1px;    
  width:90px;
  height:20px;
  font-size: 9px; 
     }
 .logo
{
 font-size:14px;
 padding:0 0 0 0;
 }
 .phone
 {
    padding-left:10px;
    padding-top: 5px; 
    font-size: 9px; 
     }
 .polosa
 {
  padding-right:15px; 
  font-weight:200;
  font-size: 9px;
  }
 #map
  {
   height: 290px;
   padding-top:15px;
      }

.getin
{
 padding-top:60px;    
 
 }
 .get
 { 
  font-size:19px; 
     }
 .contact
 { 
    padding-top: 75px; 
  }   
 
   #formid
  {
    padding-left: 50px;
    height:30%;    
      }
   .headquarter
   {padding: 20px 40px 15px 25px;
    padding:
    }    
      
  .center-content .btn-success
 {
  width:120px;
  height:30px;
  font-size: 10px;
     }
   .form-control
   {
    font-size: 11px;   
       }
   .calltoaction .download
 { 
  width:80;  
  padding-top:10px; 
  font-size:10px;
 }    
    
   .like
  { 
 font-size: 12px;   
  }
  .doyou{} 
  .footer
  {
    padding-top: 100px;
    font-size:11px; 
  }
  .headq
   {
    font-size: 10px;   
       }
    .footer_top
{
   padding-left:10px;
    font-size:9px;
    }
. container .footer_bottom
  {
     
    padding-top: 90px; 
    padding-left: 15px;   
      }    
   .social a {
    width: 26px;
    height: 26px;
    margin: 0 4px 4px 0;
    padding: 4px;
    
}    

.twitter a {background: #00acee; color: #fff;}
.instagram a {background: #3f729b; color: #fff;}
.facebook a {background: #3b5998; color: #fff;}
.dribbble a {background: #ea4c89; color: #fff;}
.github a {background: #000; color: #fff;}





    }